@use 'variables'
@use 'mixins'

header
    width: 100%
    background-color: variables.$Cor1
    display: flex
    height: 80px
    position: relative
    color: variables.$Cor3  

    #User
        margin: auto
        position: absolute
        top: 60%
        left: 1%
        font-size: 3rem
        translate: 0 -50%
        color: variables.$Cor3
        display: block

    #Title
        font-family: variables.$LetraBudget
        font-size: 3rem
        text-align: center
        margin: auto
        color: variables.$Cor3

    #Menu
        color: variables.$Cor3
        font-size: 3rem
        position: absolute
        top: 60%
        right: 1%
        translate: 0 -50%

#Quebra
    background-color: variables.$Cor3T
    height: 2px

#RiscaHeader
    background-color: variables.$Cor1
    height: 9px
    margin-bottom: 20px

#UserIcon
    color: variables.$Cor3

#BudgetHeader
    font-family: variables.$LetraBudget
    font-size: 3rem
    text-align: center
    margin: auto
    color: variables.$Cor3

#ItemsMenu
    width: 280px
    margin-top: -33px
    position: absolute
    right: 0

    ul
        background-color: variables.$Cor1
        padding: 10px

        li
            padding: 10px
            .LinkMenu
                font-size: 1.5rem
                color: variables.$Cor3
                font-weight: bold

            .LinkMenu:hover
                color: variables.$Cor2
                
        