@use 'variables'

@mixin InputTextSignIn
    background-color: transparent
    border: none
    border-bottom: 1px solid variables.$Cor1
    font-size: 2.3vw
    width: 18vw
    margin-left: 10px
    margin-bottom: 15px

@mixin BtnConfirm
    background-color: variables.$Cor3
    font-size: 2.4vw
    border-radius: 15px
    font-weight: bold
    color: variables.$Cor1
    padding: 10px 20px
    display: block
    margin: 15px auto
    cursor: pointer

@mixin Label
    font-size: 2.4vw
    font-weight: bold
    color: variables.$Cor1

@mixin Link
    font-size: 1.7vw
    width: 18vw
    text-align: center
    background-color: variables.$Cor1
    color: variables.$Cor3
    font-weight: bold
    padding: 1vh 1vw
    border-radius: 10px
    cursor: pointer

@mixin BtnVerMais
    margin: 10px 
    background-color: transparent
    border: none
    color: variables.$Cor1
    font-size: 1.8vw
    font-weight: bold
    cursor: pointer

@mixin TituloPagina
    text-align: center
    font-size: 3.5vw
    margin: 23px

@mixin Radio
    background-color: variables.$Cor1
    margin-right: 10px
    
